<div class="page">
    <div class="card-box object-center">
        <div class="section-title">
            <h3 class="heading">Login to Account</h3>
            <p class="heading-description">Please enter your email and password to continue</p>
        </div>
        <div class="input-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="esteban_schiller@gmail.com">
        </div>
        <div class="input-group mt-4">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="esteban_schiller@gmail.com">
        </div>
        <div class="button-group containt-center mt-5">
            <button class="btn primarty">Sign In</button>
        </div>
    </div>

</div>
